    <div class="container">
  <form action="/login" method="POST" style="margin:3em">
    <h2>Delivery</h2> 
    <div class="input-field">
      <input class="input-field" type="text" id="firstname"  name="firstname" placeholder="Please enter firstname" required>
    </div>
    <div class="input-field">
      <input class="input-field" type="text"  name="password" placeholder="Please enter lastname" required>
    </div>
     <div class="input-field">
      <input class="input-field" type="text"  name="password" placeholder="Please enter lastname" required>
    </div>
<div class="input-field">
    <button type="submit" value="delivery">Submit</button>
</div>
  </form>
</div>
</body>
