<div>

	
<link rel="stylesheet" href="/style.css">

	<form action="/orders" method="post">
	<div class="dpizza">
<table class="table">

<h2 style="text-align:center">Pizza Order</h2>

<tr>
	<th>Order Number</th>
	<th>Quantity</th>
	<th>Status</th>
	<th>Total</th>
</tr>
 {{#each perfect}}
<tr>
	<td>{{id}}</td>
	<td>{{smallQty}}</td>
	<td>Payment due</td>
	<td>R{{totals}}</td>
	
</tr>
</form>
{{/each}}
</table>
</div>
</table>
</div>


</div>
