<div>

	<h2>Pizza Order</h2> 


	<form action="/order" method="POST">

		<div>
			<label for="">Order Id:</div>label>
			<input type="text" name="order" value="order">
		</div>
		<div>
			<label for="">Order Status:</label>
			<input type="text" name="status" value="status">
		</div>
		<div>
			<label for="">Order Amount:</label>

			<input type="text" name="amount" value="amount">
		</div>
	</form>

</div>
